body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: #2c3e50;
  margin-bottom: 10px;
}

p {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}


.container{
  
    width:55%;
    height: 55%;
    margin: 150px;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 10px;
}